<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.opensrp.stock.openlmis.repository.mapper.custom.CustomOrderableMapper">

    <sql id="column_list">
        o.id, o.code, o.full_product_code, o.net_content, o.pack_rounding_threshold, o.round_to_zero,
        o.dispensable, o.trade_item_id, o.commodity_type_id
    </sql>

    <sql id="from_orderables">
        from core.orderable o
    </sql>


    <resultMap id="BaseResultMap" type="org.opensrp.stock.openlmis.domain.Orderable">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="full_product_code" jdbcType="VARCHAR" property="fullProductCode" />
        <result column="net_content" jdbcType="INTEGER" property="netContent" />
        <result column="pack_rounding_threshold" jdbcType="INTEGER" property="packRoundingThreshold" />
        <result column="round_to_zero" jdbcType="BIT" property="roundToZero" />
        <result column="dispensable" jdbcType="INTEGER" property="dispensable" />
        <result column="trade_item_id" jdbcType="VARCHAR" property="tradeItemId" />
        <result column="commodity_type_id" jdbcType="VARCHAR" property="commodityTypeId" />
    </resultMap>

    <sql id="where_clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and o.${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and o.${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and o.${criterion.condition} #{criterion.value}
                                    and
                                    #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and o.${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem"
                                             open="(" separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>

    <select id="select" resultMap="org.opensrp.stock.openlmis.repository.mapper.OrderableMapper.BaseResultMap">
        select
        <if test="example.distinct">
            distinct
        </if>
        <include refid="column_list" />
        <include refid="from_orderables" />
        <if test="_parameter != null">
            <include refid="where_clause" />
        </if>
        <if test="example.orderByClause != null">
            order by o.${example.orderByClause}
        </if>
        LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>